.inscryption_page {
    background-color: rgb(255, 223, 192);
    min-height: 100vh;
}

.boardpage {
    min-height: 100vh;
    background-color: rgb(var(--bg-color));
    color: rgb(var(--text-color))
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5em;
    flex: 100%;
    margin-left: 1em;
}

.details {
    display: flex;
    flex-wrap: wrap;
}

.head {
    background-color: rgb(248, 245, 242);
}

.inscryption_head {
    background-color: rgb(191, 155, 170);
}

.header-container + .instruction-container {
    margin-left: 1em;
}

.header-container .title {
    margin: 0;
}

.score {
    font-size: 1.4rem;
}
.details>.button-container {
    margin-left: 1em;
}

.details .button-container {
    justify-content: center;
    align-items: center;
}

.button.inscryption-btn {
    background-color: #9e6670;
    color: rgb(255, 223, 192);
}

.error-container {
    margin: 1em 0 0 1em;
}

.error {
    font-size: 1.3rem;
}

.cards {
    margin: 3em;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5em;
    row-gap: 2em;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
}


dialog {
    max-width: 320px;
    height: 240px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--bg-color));
    color: rgb(var(--text-color));
    border: 2px solid black;
    border-radius: 4px;
    gap: 1em;
}

::backdrop {
    filter: brightness(0.8) grayscale(0.6);
}