:root {
    background-color: rgb(var(--bg-color));
    color: rgb(var(--text-color))
}

.homepage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 0.8em;
}

.instruction-container {
    max-width: 600px;
}